$blue:#4877fb;
$white:#fff;
$light:#f8f9fa;
$grey:#6c757d;
$primary:#24b800;

 body{
    background-color: $light;
 }
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 h2 h3 h4 h5 .header{
    font-family:      "Poppins", sans-serif;
}

 .continer{
    margin: 0 auto;
    
 }
 
 
 a{
    text-decoration: none;
 }
  
 .blue{
    background-color: $blue;

 }
 .titulli{
    text-align: center;
 }
 h1 {
    color: $blue;
    font-size: 34px;
    font-weight: bold;
 }

.btn{
    padding: 12px 30px;
    border: 1px solid black;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .1rem;
} 

 header{

    nav{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .header{
        display: flex;
        width: 25%;
        justify-content:flex-start;
        
        a{
            color: $white;
            font-size: 24px;
            font-weight: 700;
            padding-top: 25px;
            
        }
    }
    .header1{
  
        ul{
            display: flex;
             padding-top: 25px;

                .submenu{
                    display: none;
                    
                }
        }
        li{
            padding: 0 5px;
            list-style-type: none;
            padding-inline-start: 40px;
        }

        a{
            color: $white;
            
            
        }
    }
 }
.intro{
    display: flex;
    width: 100%;
    .maint{
        width: 50%;
        margin-top: 60px;
        
        
        h1{
           color:$white; 
           font-size: 50px;
           font-weight: 700;
           padding-bottom: 10px;
        }

        p {
            color: rgb(255 255 255 / 50%);
            padding-bottom: 30px
        }
       
        .btn{
            background-color:rgb(255 255 255 / 20%);
            border-color: rgb(255 255 255 / 20%);
            color: $white;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: .1rem;
            
            border-color: transparent;            
            


            &:hover{
                color: #4877fb;;
                background-color: $white;
            }
        }

        a{
            display: block;
            padding: 20px;
            margin-right: 68%;
        }
        
    }
    .mainv{
        align-items: center;
        
        padding: 50px 100px;
    }
    
}
.continers{
    display: flex;
    justify-content: space-evenly;
    gap: 4px;
    margin-top: 100px;  
    height: 300px;
    

    .card{
        border: 1px solid black;
        padding: 30px;
        background-color: $white;
        border-color: transparent;
        

        &:hover{
            margin-bottom: 7px;
            margin-top: -7px;
            border-top: 3px solid blue;
            transition: 0.5s;
           
            
        }
        
        #ikonat{
            font-size: 45px;
            margin-bottom: 10px;
            display: block;
            color: #4877fb;
        }

        h5{
            font-size: 1.25rem;
            padding: 7px 0;
        }
        
        a {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #ccc;
            color: #fff;
            padding: 13px;
            padding-top: 10px;   

            &:hover{
                color: $white;
                background-color: $blue;
            }
            
            
            #subbmit{
                margin-top: 30px;



            }
            
        }
    } 
}

.continer{
    
    .titulli{
        margin: 50px 0;
    }
}
section .continer{
    display: flex;
    justify-content: space-around;

    

    .shkrim{
        
        padding: 40px;
        padding-left: 30px;
        margin-top: 30px;
        

        .number{
            width: 40px;
            height: 40px;
            background-color: #24b800;
            color: #fff;
            margin-bottom: 30px;
            border-radius: 50%;
            padding: 13px;
            span{
                font-weight: bold;
                
            }
        }

        h3{
            color:#24b800;
            font-size: 29px;
            font-weight: bold;
            margin-bottom: 15px;
        }

        p{
            margin-bottom: 45px;
        }

        .btn{
            background-color: rgba(36, 184, 0, 0.2);
            color: #24b800;
            border-color: transparent;

            &:hover{
                background-color: #1d9300;
                color: $white;

            }
        }
    }
}
 .grey{
    background-color:#efefef;

}

 .continer{
    .titulli{
        margin: 70px 0;
    }

 }

 .kartat{
    display: flex;
    justify-content: flex-start;
    gap: 7px;


    .cards{
        border: 1px solid black;
        background-color: $white;
        padding: 30px;
        border-color: transparent;

        div{
            display: flex;
            padding: 10px;
            padding-top: 20px;

            .text{
                display: block;
                margin-top: 20px;
                
            }
           
        }

        .personat{
            width: 70px;
            border-radius: 50%;
        }
    }
 }
 .dots{
    display: flex;
    justify-content: center;
    color: #1d9300;
    font-size: 40px;
    padding-top: 10px;
    cursor: pointer;
    

    .active{   
        color:rgb(143, 168, 143)
    }
 }
 .continer{

    .kart{
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }

    .kartat{
        
        background-color: $white;
        
        height: 500px;
        padding: 30px;
        margin-bottom: 20px;
        display: block;

        h3{
            font-size: 18px;
            font-weight: bold;
            border-bottom: 1px solid #6c757d;
            text-align: center;
            padding-bottom: 20px;
        }
        .price{
            
            text-align: center;
            padding: 30px 20px;
            p{
                 
                font-size: 20px;
                color: $grey;
                span{
                    color: #4877fb;
                    font-size: 40px;
                    font-weight: bold;
                 }

                 .green{
                    color: $primary;
                 }
            }
        }
        p{
            text-align: center;
            margin-bottom: 15px;
        }

        .tekst{
            padding: 30px 20px;
            display: block;
            color: #6c757d;
            list-style-type: none;
            margin-bottom: 20px;
            

            i{
                color: #24b800;
                padding-right: 5px;
            }
            
        }

        .btn{
           margin: 80px;
           background-color: #4877fb33;
           border-color: transparent;
           color: #4877fb;
           font-weight: 700;

           &:hover{
            color: $white;
            background-color: #4877fb;
           }
            
        }
        #green{
            background-color: rgb(36 184 0 / 20%);
            color: $primary;

            &:hover{
                color: $white;
                background-color: $primary;
            }
        }
    }
 }

 .blue2{
    background-color: $blue;
    height: 150px;
    padding: 37px 0;
    margin-top: 40px;
    margin-bottom: 40px;

    h2{
        color: $white;
    }
    p{
        color: rgba(208, 200, 200, 0.5);
        font-weight: 700;
    }
    .butoni{
        padding: 37px 0;

        .btn{
            background-color:rgba(255, 255, 255, 0.2);
            color: $white;
            border-color: transparent;
            font-weight: 700;

            &:hover{
                background-color: $white;
                color: $blue;
            }
         
        }

        
    }
    
    }
        
        h2.titujt {
            font-size: 16px;
            font-weight: 700;
            color: black;
            padding: 30px 0;
        }

        .media span i{
            display: inline-block;
            width: 30px;
            height: 30px;
            background: #777;
            border-radius: 50%;
            color: #fff;
           

        }
        
        .fa-brands{
            padding: 8px;
            
        }
            p {
                
                margin: 10px 0;

                a{
                    color: #6c757d;
                }
            }
    

            //* verzioni mobil //
           @media screen and (max-width: 768px){
        .continer{
            width: 90%


        }
        .header1 {
            display: none;

        }
        
        .continer{
            margin: 0 auto;
            flex-direction: column;
            
         }

         .intro{
            flex-direction: column;
            
            .maint a {
                margin-right: 0;
                padding: 12px 16px;
            }
            
            .mainv{
                padding: 60px 0;
            }
            img{
                width: 360px;
                
            }
         }
         .continers{
            flex-direction: column;
            margin-top: 500px;
         }

         #gabim{
            margin-top: 500px;
         }
         .continer .foto img {
            width: 360px;
         }
         #fshi{
            display: none;
         }
          
         .kart{
            flex-direction: column;
         }
         .kartat{
            width: 360px; 
            
            .btn{
                padding: 10px 10px
            }
        }
        .blue2{
            height: 300px;
        }


    }
        //* verzioni desktop//
    @media screen and (min-width: 800px){
        .continer{
            width: 1320px
        }
        .header1{
            display: flex;
            width: 75%;
            justify-content: flex-end;

         
        }
        .continer{
            margin: 0 auto;
            flex-direction: row;
            
         }

         .intro{
            flex-direction: row;

            .maint a{
                padding: 12px 21px;
            }

            .mainv{
                     padding: 50px 100px;
            }
            img{
                width: 540px;
                
            }
         }
         .foto{
        
            img{
                width: 600px;
            }
        }
        .kart{
           flex-direction: row;
        }
        .kartat{
          

            .btn{
                padding: 12px 30px;
            }

           
        }
  
    }

p{
    color: $grey;
}


